{% extends "base.tera" %}

    {% block title %}
        Detail | {{ trainig_set.workout_date }}
    {% endblock %}


<body>
<h1>Detail</h1>


<div>
    <a href="edit.tera">Edit</a>
</div>


{% block contents %}
<div>
    <dt>種目</dt>
    <dd>{{ training_event.event_name }}</dd>

    <dt>部位</dt>
    <dd>{{ training_parts.parts.name}} </dd>

    <dt>重量</dt>
    <dd>{{ taraining_set.weight}} </dd>

    <dt>回数</dt>
    <dd>{{ training_set.times}} </dd>
</div>

{% endblock %}
</body>
