<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Workout Logger">
    <meta property="og:type" content="webstie">
    <meta property="og:url" content="https://workout-logger-c168.onrender.com">
    <meta property="og:image" content="https://workout-logger-c168.onrender.com/static/images/workout_example_1.png">
    <meta property="og:site_name" content="Workout Logger">
    <meta property="og:description"
          content="日々のトレーニングを記録するためのアプリです。日付ごとにやった種目、どこを鍛えたか、重量、回数が記録できます。">
    <meta property="og:locale" content="ja">
    <title>{% block title %}{% endblock %} | Workout Logger</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    {% block script %}{% endblock %}
</head>
<body>
<nav class="navbar" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">WORKOUT LOGGER</a>
    </div>
</nav>


<main class="container py-4">
    {% block content %}{% endblock %}
</main>


</body>
</html>
