<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Training Logger</title>
    <link rel = "stylesheet" href="../css/style.css">
</head>

<body>
<form action="/update" method="post">


    <div>
        <a href="new.tera">今日の記録をつける</a>

    </div>

    <div>
        <ul>
{#            {% for date in dates %}#}
{#            <li>#}
{#                {{date}}#}
{#                <a href="/detail/{{date}}">{{date}}</a>#}


{#            </li>#}
{#            {% endfor %}#}
{#            <li>#}
{#                <a href="details/detail.tera">2025/1/27</a>#}
{#            </li>#}

        </ul>
    </div>





</form>

</body>
</html>